# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage
/build_dev

# production
/build
/build_public
/public

#firebase
/dist
/functions
/.firebase

.firebaserc
firebase.json
firestore.rules
firestore-debug.log

#my misc stuff
/ZZZzzzZZZzzzZZZzzzZZZzzzZZZzzz
/src/components/order_submission
/config
/populate-firestore
/notes&stuff
credentials.json

# misc
/.vscode
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
