

.my_admin_container {
  margin-top: 10px;
}

/** PRODUCTS */
  $prod_cell_height: 100px;

  li.my_admin_prodElem {
    height: auto !important;
  }

  .my_admin_prodElem { 
    cursor: pointer;
    margin: 6px;
    width: 128px;
    line-height: 6rem;

    background-color: white;
    object-fit: contain;
    border: 4px solid #eee;
    border-radius: 18px; 

    font-weight: bold;
    font-size: 4rem;
    text-align: center;
    text-decoration: none;
  }
  .my_admin_prodElem:hover {        
      border: 4px solid black;
  }
  .my_admin_prodElem:active {        
      border: 4px solid lime;
  }



  .my_admin_prodModal {
    width: 800px;
  }


/***/