


.my_cartSubtotal {
    font-weight: bold;
    font-size: 2.4rem;
    line-height: 2;
}

.my_cartText {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 20px;

    background-color: skyblue;
}

.my_btnRemove {
    padding: 11px 10px 6px;
}


.myCart_table {
    margin-top: 50px;

    background-color: $tile-background-color;
    padding: 5px;

    thead{
      background-color: #fff
    }
}

.myCart_numLink {
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}