


.my_cartSubtotal {
    font-weight: bold;
    font-size: 2.4rem;
    line-height: 2;
}

.my_cartText {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 20px;

    background-color: skyblue;
}

.my_btnRemove {
    padding: 11px 10px 6px;
}