


.my_form_chekout {
    font-size: 2.4rem;
}

.my_checkout_prodTable {
    width: 100%;
    margin: 20px 0px;
    border: 2px solid #eee;
    
    background-color: rgb(63, 230, 166);
}


.my_checkout_formRow {
    margin: 20px 0px;
    padding: 8px;
    border: 1px solid gray;
    border-radius: 5px;

    background-color: skyblue;

    .myCheckout_label {
        padding: 5px 10px;
        font-weight: 700;
        font-size: 2.4rem;


        .my_checkout_errSign {
            color: rgb(95, 11, 28);
        }
    }
    
}


.my_checkout_select {
    height: calc(3.2rem + 2px) !important;
    // [] becouse default [font-size] is set [62.5% AKA 1rem=10px] in [global.scss], so default styling for this abstructs text
 }


.my_checkout_formBtn {
    margin: 20px 0px 200px;
}


/** Delivery */
    .myCheckout_label#checkout_delCheckLable {
        cursor: pointer;
        transition: 256ms;

        &:hover {
            text-decoration: underline;
        }

    }

    .my_checkout_checkbox {
        transform: scale(1.8);
    }
/** */


/** CLIENT */
    //#checkoutClient {}

    .myCheckout_clientField {
        display: flex;
        flex-direction: row;
        overflow: hidden;
        font-size: 2rem;
        
        margin: 20px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        
        .myCheckout_clientLabel {
            font-weight: 600;
            width: 24%;
        }
        .myCheckout_clientInput {
            padding: 4px;
            width: 76%;
            border: 2px solid gray; 
            background-color: rgba( 255,255,255, .5);

            &.error { 
                border: 2px solid red; 
                background-color: rgba( 255,200,200, .5);
            }

            &:focus {
              border-color: $nav_color;
              background-color: rgba( 255,255,255, 1);
            } 

            &[name='fullName'], &[name='del_name'] { width: 360px; }
            &[name='email'] { width: 360px; }
            &[name='phone'], &[name='del_phone'] { width: 360px; }
            &[name='address'], &[name='del_address'] { width: 500px; }
            &[name='zip'], &[name='del_zip'] { width: 160px; }
            &[name='city'], &[name='del_city'] { width: 360px; }
            &[name='state'], &[name='del_state'] { width: 360px; }
            &[name='country'], &[name='del_country'] { width: 360px; }
        }
    }
/***/