

$text-color: #333;
$tile-background-color: #fff;

#store
{
  background-color: $body_color;
  height: 100%;
}

.my_storeImageLink 
{

  .my_noStoreImage
  {    
    margin: 6px;
    height: 160px;
    width: 210px;
    object-fit: contain;
    border: 4px solid #eee;
    border-radius: 18px; 
    background-color: $tile-background-color;   
    color: $text-color;

    line-height: 145px;
    font-weight: bold;
    font-size: 2.4rem;
    text-align: center;
    text-decoration: none;
  }

  img
  {    
    margin: 6px;
    object-fit: contain;
    border: 4px solid #eee;
    border-radius: 18px; 
    background-color: $tile-background-color;   

    height: 160px;
    width: 210px;
  }

  :hover
  {        
      border: 4px solid black;
  }
  :active
  {        
      border: 4px solid lime;
  }
}



.Collapsible 
{  
  background-color: $body_color;
  margin-top: 30px;
  margin: 16px;

  
  .Collapsible__trigger{ 
    cursor: pointer;

    display: block;
    padding: 10px;
    position: relative;

    border: 1px solid #333;
    background: $nav_color;

    text-decoration: none;
    font-weight: bold;
    font-size: 2rem;
  }

  .Collapsible__trigger:after {
      font-family: "Material Icons";
      content: "\e5c7"; // \e5c5 for the filped one
      position: absolute;
      right: 10px;
      top: 10px;
      display: block;
      transition: transform 300ms; 
    }

    .Collapsible__trigger.is-open:after {
      transform: rotateZ(180deg); 
    }
  

  .Collapsible__contentInner
  {
    padding: 20px;
  }
}