

$tile-background-color: #fff;

#store
{
  background-color: $body_color;
  height: 100%;
}

.my_store_collapsedContetn {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
}

.my_storeImageLink 
{

  .my_noStoreImage
  {    
    margin: 6px;
    height: 160px;
    width: 210px;
    object-fit: contain;
    border: 4px solid #eee;
    border-radius: 2px; 
    background-color: $tile-background-color;   
    color: $text-color;

    line-height: 145px;
    font-weight: bold;
    font-size: 2.4rem;
    text-align: center;
    text-decoration: none;
  }

  img
  {    
    margin: 6px;
    object-fit: contain;
    border: 4px solid #eee;
    border-radius: 2px; 
    background-color: $tile-background-color;   

    height: 160px;
    width: 210px;
  }

  :hover
  {        
      border: 4px solid black;
  }
  :active
  {        
      border: 4px solid lime;
  }
}



/* [] for the rest of [.Collapsible] styles see [utilities/modefid_package_stylings.scss] */
.my_store_collapsible 
{  
  background-color: $body_color;

  .Collapsible__trigger{ 
    background-color: $nav_color;
  }
}