

$tile-background-color: #fff;

#store {
  background-color: $body_color;
  height: 100%;
}

.my_store_collapsedContetn {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
}

.my_storeImageLink {   
  margin: 6px;
  height: 160px;
  width: 210px;
  object-fit: contain;
  border: 4px solid #eee;
  border-radius: 2px; 
  background-color: $tile-background-color;   

  transition-duration: 256ms;
  &:hover { border: 4px solid black; }
  &:active { border: 4px solid lime; }

  .my_noStoreImage {  
    color: $text-color;  
    line-height: 145px;
    font-weight: bold;
    font-size: 2.4rem;
    text-align: center;
    text-decoration: none;
  }

  img { 
    object-fit: contain;
    height: 150px;
    width: 200px;
    /*   
    margin: 6px;
    object-fit: contain;
    border: 4px solid #eee;
    border-radius: 2px; 
    background-color: $tile-background-color;   

    height: 160px;
    width: 210px;
    */
  }

}

// symbolyizing that a product is not available at the moment, but still viewable
  //.myStore_prodAvail{}
  .myStore_prodNotAvail {
    border-color: red;
    img{
      opacity: .6;
    }
  }


/* [] for the rest of [.Collapsible] styles see [utilities/modefid_package_stylings.scss] */
.my_store_collapsible {  
  background-color: $body_color;

  .Collapsible__trigger{ 
    background-color: $nav_color;
  }
}