

.navbar 
{
  padding: 0px;
  background-color: $nav_color;
  overflow: hidden;
  z-index: 800; //if above 1000, intefiers with 'lightbox' which has a z-index of 1000
}



.navbar-brand {
  height: 65px;
  padding: 13px;

  #img_logo {    
    height: 40px;
  }
  #img_logo:hover {    
    background-color: #ffd81b;
  }
}


.my_navbar_collapse {
  background-color: $nav_color;
}
.my_navbar_secound {
  display: inline;  
  padding: 0 32px 0 10%;

  /*
  right: 100px;
  float: right;
  border-top: 1px solid rgba(150, 150, 150, 0.5);
  */
}

.my_navbar_elem, .my_navbar_drop
{  
  height: 65px;
  padding: 16px;
  margin: 0px 16px;

  text-align: center;
  font-weight: bold;
  font-size: 2rem;

  z-index: 999;

  transition: 256ms;

  &:hover{
    background-color: #ffd81b;
  }
}

.my_navbar_drop { padding: 11px 0px; }
.my_navbar_dropElem {
  font-size: 1.6rem;
  padding: 10px;
}
.my_navbar_dropElem:hover {
  background-color: lightgray;
}

// language SELECT
  .my_nav_select {      
    display: inline-block;

    width: 180px;
    padding: 20px 13px;    
    
    background: $nav_color;
    text-align: center;
  }
//
// cart
  .my_navCart { 
    display: inline-block;
    padding: 12px 1rem;
    
    .my_cartInside { 
      display: inline-block;
      padding: 5px 10px 0;      
      height: 56px;
      width: 56px;

      background-color: orange;
      border-radius: 25%;
      transition-duration: 500ms;

      &:hover {
        background-color: yellow;
        border-radius: 50%;
      }

      .my_cartIcon { font-size: 3rem; }
      .my_cartCount { font-size: 2rem; }


    }    
  }
//