

.navbar 
{
  padding: 0px;
  height: 80px;
  background-color: $nav_color;
  z-index: 500 !important; //if above 1000, intefiers with 'lightbox' which has a z-index of 1000
}



.navbar-brand {
  height: 65px;
  padding: 7px 30px 7px 50px;

  #img_logo {    
    height: 50px;
  }
  #img_logo:hover {    
    background-color: #ffd81b;
  }
}


.my_navbar_collapse {
  background-color: $nav_color;
}


@media only screen and (min-width: 990px){ 
  /*[] if screen width is over */
  .my_navbar_secound { padding: 0 50px; }
}
@media only screen and (max-width: 990px){ 
  /*[] if screen width is under */
  .my_navbar_secound {
    display: block;  
    width: 250px;
    margin: 0 auto;
  }
}

.my_navbar_elem, .my_navbar_drop
{  
  display: inline-block;
  height: 65px;
  padding: 16px 20px;
  margin: 0px 20px;

  text-align: center;
  font-weight: bold;
  font-size: 2rem;

  border-radius: 20px;

  z-index: 900;

  transition: 256ms;

  &:hover{
    color: #000;
  }
}

.my_navbar_drop .dropdown-menu { 
  top: 80%;
  transition-duration: 500ms;
}
@keyframes NavDropdownAnimation {
  0%    { height: 0%; }
  100%  { height: 100%; }

}


.my_navbar_drop { padding: 11px 0px; }
.my_navbar_dropElem {
  font-size: 1.6rem;
  padding: 10px;
}
.my_navbar_dropElem:hover {
  background-color: lightgray;
}

// language SELECT
  .my_nav_select {      
    display: inline-block;
    z-index: 999;

    width: 180px;
    padding: 20px 13px;    
    
    background: $nav_color;
    text-align: center;
  }
//
// cart
  .my_navCart { 
    display: inline-block;
    padding: 12px 1rem;
    
    .my_cartInside { 
      display: inline-block;
      padding: 5px 10px 0;      
      height: 56px;
      width: 56px;

      background-color: orange;
      border-radius: 25%;
      transition-duration: 500ms;

      &:hover {
        background-color: yellow;
        border-radius: 50%;
      }

      .my_cartIcon { font-size: 3rem; }
      .my_cartCount { font-size: 2rem; }


    }    
  }
//