

/* [] BOOTSTRAP */
  //    
    .container{
      margin-top: 15px;
    }
    .btn {
      font-size: 1.6rem;
    }
    .form-control {    
      font-size: 1.6rem;
    }
  //

  // carusel contorls
      .carousel-control-prev, .carousel-control-next {    
          //font-family: "Material Icons";
          //content: "\e154"; // https://github.com/google/material-design-icons/blob/master/iconfont/codepoints
          width: 10%;
          color: #333;
          transition: 300ms;
      }
      .carousel-control-prev:hover, .carousel-control-next:hover {    
          //font-family: "Material Icons";
          //content: "\e409"; // https://github.com/google/material-design-icons/blob/master/iconfont/codepoints

          transition: 300ms;
          background-color: rgba(196, 196, 196, 1);
      }
  //
/**/

/* [] react-select] */
  .react-select__menu {
    margin-top: -10px;
    z-index: 999 !important;
  }
/**/

.swal2-popup {
  font-size: 1.6rem;
}


/* Collapsable */
  .Collapsible 
  {  
    margin: 30px 20px;
    
    .Collapsible__trigger{ 
      cursor: pointer;

      display: block;
      padding: 10px;
      position: relative;
      background-color: $nav_color;

      border: 1px solid #333;

      text-decoration: none;
      font-weight: bold;
      font-size: 2rem;

      transition-duration: 360ms;

      &:hover { background-color: #efc90bb4 }
    }

    .Collapsible__trigger:after {
        font-family: "Material Icons";
        content: "\e5c7"; // \e5c5 for the filped one
        position: absolute;
        right: 10px;
        top: 10px;
        display: block;
        transition: transform 360ms; 
      }

      .Collapsible__trigger.is-open:after {
        transform: rotateZ(180deg); 
      }
    

    .Collapsible__contentInner
    {
      padding: 20px;
    }
  }
/**/

